.howToContainer {
  height: 100%;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--font-color);
}

.title {
  font-family: var(--font-family);
  font-size: 1.8rem;
}

.info {
  list-style-type: none;
  padding: 3em;
  font-size: 1.1rem;
  line-height: 3;
}
