.howToContainer {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  background-color: var(--main-color);
  align-items: center;
}

.title {
  font-family: Ranchers, sans-serif;
  color: var(--primary-font-color);
  text-align: center;
  font-size: 1.8rem;
}

.info {
  font-family: Roboto, sans-serif;
  color: var(--primary-font-color);
  text-align: start;
  padding-left: 1.5rem;
  font-size: 1rem;
}

.startbtn {
  margin: 1.5rem 5rem;
}
