.howToContainer {
  height: 100vh;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--font-color);
  display: grid;
}

.title {
  margin-top: 1.2rem;
  font-family: var(--font-family);
  font-size: 1.8rem;
}

.info {
  list-style-type: none;
  padding: 2em;
  font-size: 1.1rem;
  line-height: 3;
}
