.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.3fr) 1fr 0.5fr;
  align-items: center;
  justify-items: center;
}

.imageContainer {
  grid-area: 1 / 1 / 3 / 2;
}

.patternImg {
  width: 50%;
  max-height: 6rem;
  border: none;
  background: none;
  padding: 0;
}

.minusBtn {
  grid-area: 1 / 2 / 2 / 3;
  width: 45%;
  height: auto;
}

.plusBtn {
  grid-area: 2 / 2 / 3 / 3;
  width: 45%;
  height: auto;
}

.canvasDesign {
  grid-area: 3 / 1 / 4 / 3;
  border: 1px solid black;
  justify-self: center;
  max-height: 260px;
}

.examplePattern {
  grid-area: 4 / 2 / 5 / 3;
  width: 75%;
  height: 75%;
  background: none;
  border: none;
}
