.container {
  height: 100vh;
}

.main {
  height: 100%;
  display: grid;
  align-items: center;
}

.title {
  font-family: Ranchers, sans-serif;
  color: var(--main-color);
  text-align: center;
  font-size: 1.8rem;
  align-self: start;
}

.footercontainer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  align-items: end;
}

.footerimg {
  width: 100%;
  grid-area: 1 / 1 / 2 / 3;
  z-index: 1;
}

.homebtn {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 2;
}

.backbtn {
  grid-area: 1 / 2 / 2 / 3;
  z-index: 2;
}
