.main {
  height: 100vh;
  color: var(--primary-color);
  text-align: center;
}

.title {
  font-size: 1.8rem;
  font-family: var(--font-family);
}

.subtitle {
  font-size: 1rem;
}

.designButton {
  background: none;
  margin: 1rem;
}

.patternImage {
  max-height: 6em;
  background: none;
  padding: 0.5rem;
}
