@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --primary-color: #4d4d4d;
  --secondary-color: #91c3d3;
  --font-color: #fff;
  --font-family: ranchers, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
