.main {
  display: grid;
  height: 100vh;
  place-content: center;
  text-align: center;
  color: var(--primary-color);
  align-content: space-between;
}

.title {
  font-size: 1.8rem;
  font-family: var(--font-family);
}

.subtitle {
  font-size: 1rem;
}

.input {
  font-size: 1rem;
}

.form {
  display: grid;
  grid-row-gap: 0.5em;
}

.image {
  height: 200px;
}
