.main {
  height: 100vh;
  text-align: center;
  color: var(--primary-color);
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 3fr 1fr;
}

.title {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  font-family: var(--font-family);
}

.subtitle {
  font-size: 1rem;
}

.input {
  font-size: 1rem;
}

.uploadedImage {
  max-height: 7em;
  margin: 1em;
}
